#WebsiteTitle {
  color: #757bc8;
}
.sidebar {
    height: 100%;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
  
/* Sidebar link styles */
.nav-link {
    color: #000; /* Default text color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Hover effect */
  .nav-link:hover {
    font-weight: bold;
  }
  
  /* Active link styling */
  .nav-link.active {
    font-weight: bold; /* Optional: Make the active link bold */
  }
  